.flashcards__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.flashcards__header--default {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flashcards__heading--default {
    width: 100%;
    text-align: center;
    margin: 0;
}

.flashcards__heading--width-fit-content {
    width: fit-content;
}

.flashcards__heading--text-align-left {
    text-align: left;
}

.flashcards__main--default {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.flashcards__inputGroupContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.flashcards__checkboxInputGroupContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 8px;
}

.flashcards__button--default {
    width: 40%;
}

.flashcards__in-header-button {
    width: fit-content;
}

.flashcards__horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.flashcards__vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.flashcards__container--default {
    width: 100%;
}

.flashcards__section--default {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.flashcards__article--default {
    width: 100%;
}

.flashcards__dropdown--default {
    width: 100%;
}

.flashcards__dropdown--width-fit-content {
    width: fit-content !important;
}

.flashcards__input--width-100 {
    width: 100%;
}

.flashcards__container--flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}