.flashcards--text-left {
    text-align: left;
}

.flashcards--text-center {
    text-align: center;
}

.flashcards--margin-0 {
    margin: 0;
}

.flashcards--width-20 {
    width: 20% !important;
}

.flashcards--width-40 {
    width: 40%;
}

.flashcards--width-80 {
    width: 80% !important;
}

.flashcards--width-100 {
    width: 100%;
}

.flashcards--width-fit-content {
    width: fit-content;
}

.flashcards--flex-row {
    display: flex;
    flex-direction: row;
}

.flashcards--flex-column {
    display: flex;
    flex-direction: column;
}

.flashcards--justify-start {
    justify-content: flex-start;
}

.flashcards--justify-center {
    justify-content: center;
}

.flashcards--justify-between {
    justify-content: space-between;
}

.flashcards--align-center {
    align-items: center;
}

.flashcards--gap-8 {
    gap: 8px;
}

.flashcards--gap-16 {
    gap: 16px;
}