.flashcards--text-left {
    text-align: left;
}

.flashcards--text-center {
    text-align: center;
}

.flashcards--text-justify {
    text-align: justify;
}

.flashcards--margin-0 {
    margin: 0;
}

.flashcards--margin-bottom-0 {
    margin-bottom: 0;
}

.flashcards--margin-top-0 {
    margin-top: 0;
}

.flashcards--margin-right-8 {
    margin-right: 8px;
}

.flashcards--margin-bottom-16 {
    margin-bottom: 16px;
}
.flashcards--margin-vertical-8px {
    margin-top: 8px;
    margin-bottom: 8px;
}

.flashcards--margin-right-16px {
    margin-right: 16px;
}

.flashcards--width-10 {
    width: 10% !important;
}

.flashcards--width-20 {
    width: 20% !important;
}

.flashcards--width-30 {
    width: 30% !important;
}

.flashcards--width-35 {
    width: 35% !important;
}

.flashcards--width-40 {
    width: 40%;
}

.flashcards--width-50 {
    width: 50%;
}

.flashcards--width-60 {
    width: 60%;
}

.flashcards--width-70 {
    width: 70%;
}

.flashcards--width-80 {
    width: 80% !important;
}

.flashcards--width-100 {
    width: 100%;
}

.flashcards--width-fit-content {
    width: fit-content !important;
}

.flashcards--width-15-lock {
    min-width: 15% !important;
    width: 15% !important;
    max-width: 15% !important;
}

.flashcards--width-20-lock {
    min-width: 20% !important;
    width: 20% !important;
    max-width: 20% !important;
}

.flashcards--width-25-lock {
    min-width: 25% !important;
    width: 25% !important;
    max-width: 25% !important;
}

.flashcards--width-30-lock {
    min-width: 30% !important;
    width: 30% !important;
    max-width: 30% !important;
}

.flashcards--width-40-lock {
    min-width: 40% !important;
    width: 40% !important;
    max-width: 40% !important;
}

.flashcards--width-50-lock {
    min-width: 50% !important;
    width: 50% !important;
    max-width: 50% !important;
}

.flashcards--width-55-lock {
    min-width: 55% !important;
    width: 55% !important;
    max-width: 55% !important;
}

.flashcards--width-fit-content-lock {
    min-width: fit-content !important;
    width: fit-content !important;
    max-width: fit-content !important;
}

.flashcards--flex-row {
    display: flex;
    flex-direction: row;
}

.flashcards--flex-column {
    display: flex;
    flex-direction: column;
}

.flashcards--justify-start {
    justify-content: flex-start !important;
}

.flashcards--justify-center {
    justify-content: center;
}

.flashcards--justify-between {
    justify-content: space-between;
}

.flashcards--align-center {
    align-items: center !important;
}

.flashcards--gap-8 {
    gap: 8px;
}

.flashcards--gap-16 {
    gap: 16px;
}

.flashcards--gap-32 {
    gap: 32px;
}

.flashcards--table {
    border-collapse: collapse;
    text-align: center;
    tr:not(:first-child) {
        border-top: var(--border-width) solid var(--color-base-50);
    };

    th:not(:first-child), td:not(:first-child) {
        border-left: var(--border-width) solid var(--color-base-50);
    };

    th, td {
        padding: 8px 0;
    }
}